:root {
  --font-normal: "Overpass";
  --font-decorative: "Overlock";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-normal);
  background-color: black;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-decorative);
}
